In [1]:
import pandas as pd

In [29]:
df=pd.read_csv(r"D:\machine learning projects and algoritms\linear regression\notebook\data\diamonds.csv")

In [15]:
df.head(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [16]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [17]:
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [ ]:
df["Unnamed: 0"].unique()

array([    1,     2,     3, ..., 53938, 53939, 53940], dtype=int64)

In [ ]:
df["cut"].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [ ]:
sorted(df["cut"].unique())

['Fair', 'Good', 'Ideal', 'Premium', 'Very Good']

In [ ]:
df["cut"]=df["cut"].map({"Fair":1,"Good":2,"Ideal":3,"Premium":4,"Very Good":5})

In [ ]:
df.head()

   Unnamed: 0  carat  cut color clarity  depth  table  price     x     y     z
0           1   0.23    3     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1           2   0.21    4     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2           3   0.23    2     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3           4   0.29    4     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4           5   0.31    2     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  int64
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(3), object(2)
memory usage: 4.5+ MB

In [ ]:
df["color"].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [ ]:
sorted(df["color"].unique())

['D', 'E', 'F', 'G', 'H', 'I', 'J']

In [ ]:
df["color"]=df["color"].map({"D":1,"E":2,"F":3,"G":4,"H":5,"I":6,"J":7})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  int64
 3   color       53940 non-null  int64
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(4), object(1)
memory usage: 4.5+ MB

In [ ]:
df["clarity"].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [ ]:
sorted(df["clarity"].unique())

['I1', 'IF', 'SI1', 'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2']

In [ ]:
df["clarity"]=df["clarity"].map({"I1":1,"IF":2,"SI1":3,"SI2":4,"VS1":5,"VS2":6,"VVS1":7,"VVS2":8})

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [2]:
import matplotlib as plt
import numpy as np

In [4]:
df

NameError: name 'df' is not defined

Now I am restarting eda for practice

df.head(5)

In [4]:
df.head(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [9]:
df.tail(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [10]:
df.sample(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
13794,13795,1.23,Premium,I,VS2,61.7,58.0,5622,6.87,6.85,4.23
8403,8404,1.06,Ideal,H,SI2,60.1,59.0,4401,6.65,6.63,3.99
43190,43191,0.55,Ideal,I,VS2,62.6,57.0,1393,5.21,5.23,3.27
45524,45525,0.54,Premium,G,VS1,61.1,59.0,1684,5.20,5.24,3.19
2022,2023,0.90,Premium,H,SI2,62.4,61.0,3105,6.11,6.03,3.79

In [30]:
df.drop(labels="Unnamed: 0",axis=1,inplace=True)

In [4]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [13]:
sorted(df["cut"].unique())

['Fair', 'Good', 'Ideal', 'Premium', 'Very Good']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [15]:
df["cut"]=df["cut"].map({"fair":1,"Good":2,"Ideal":3,"Premium":4,"Very Good":5})

In [16]:
df["cut"]=df["cut"].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [14]:
df.isnull().sum()

carat         0
cut        1610
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [17]:
df.sample(5)

       carat  cut color clarity  depth  table  price     x     y     z
47671   0.51  NaN     D     VS2   61.7   55.0   1882  5.14  5.11  3.16
24060   1.50  NaN     D     SI1   60.3   57.0  12206  7.37  7.40  4.45
25024   0.30  NaN     E     VS1   56.3   62.0    640  4.47  4.49  2.52
30022   0.36  NaN     E     VS2   61.3   56.0    718  4.59  4.61  2.82
24436   2.01  NaN     J     SI1   60.5   59.0  12690  8.12  8.01  4.88

https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.chuwawahjewellery.com%2Fpages%2Fnew-page-4&psig=AOvVaw0nMR94xUXZ89QsJjxxzcIi&ust=1713946640063000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKi5t_fy14UDFQAAAAAdAAAAABAE

c:\Users\ankit\AppData\Local\Temp\800x.jpg

In [25]:
from IPython.display import  Image

In [26]:
Image_url="https://shoplineimg.com/5d3558d1f7124400016c5817/5db9684abe7bf10014f48c2f/800x.jpg?"

In [28]:
Image(url=Image_url)

In [32]:
df.shape

(53940, 10)

In [39]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [45]:
df[df.columns.dtype]=="object"

KeyError: dtype('O')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [36]:
numberic_datacolumns

array([False, False, False, False, False, False, False, False, False,
       False])

In [49]:
categorical_columns=df.columns[df.dtypes =="object"]

In [50]:
df[categorical_columns]

             cut color clarity
0          Ideal     E     SI2
1        Premium     E     SI1
2           Good     E     VS1
3        Premium     I     VS2
4           Good     J     SI2
...          ...   ...     ...
53935      Ideal     D     SI1
53936       Good     D     SI1
53937  Very Good     D     SI1
53938    Premium     H     SI2
53939      Ideal     D     SI2

[53940 rows x 3 columns]

In [52]:
numberic_datacolumns=df.columns[df.dtypes !=object]

In [54]:
df[numberic_datacolumns]

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
...      ...    ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 7 columns]

In [62]:
df[categorical_columns]["cut"].value_counts()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [68]:
df[numberic_datacolumns]["price"].value_counts()

price
605      132
802      127
625      126
828      125
776      124
        ...
8816       1
14704      1
14699      1
14698      1
9793       1
Name: count, Length: 11602, dtype: int64

In [69]:
df[categorical_columns]["color"].value_counts()

color
G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: count, dtype: int64

In [70]:
df[categorical_columns]["clarity"].value_counts()

clarity
SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: count, dtype: int64

In [76]:
Image_urls="https://cdn.shopify.com/s/files/1/0160/7666/files/Diamond-Clarity-Chart-11.jpg?v=1646277625"

In [2]:
Image(url=Image_urls)

NameError: name 'Image' is not defined

:

In [78]:
import seaborn as sns

In [85]:
import matplotlib.pyplot as plt

In [86]:
plt.figure(figsize=(8,6))

In [1]:
for col in numberic_datacolumns:
    print(col)
    plt.figure(figsize=(4,6))
    pd.option_context('mode.use_inf_as_na', True)
    sns.histplot(data=df,x=col,kde=True)

    #print("\n")
    plt.show()

NameError: name 'numberic_datacolumns' is not defined

In [94]:
pd.option_context('mode.use_inf_as_na', True)